Chapter 06

In [55]:
import pandas as pd
import numpy as np

import seaborn as sns

In [56]:
#!wget https://raw.githubusercontent.com/gastonstat/CreditScoring/master/CreditScoring.csv

In [57]:
df = pd.read_csv('CreditScoring.csv')

In [58]:
df.head()

,Status,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

In [59]:
df.columns = df.columns.str.lower()
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

Now we check the type of the data in the tables, as can be seen from the code below, all of them are int type variables

In [60]:
df.dtypes

status       int64
seniority    int64
home         int64
time         int64
age          int64
marital      int64
records      int64
job          int64
expenses     int64
income       int64
assets       int64
debt         int64
amount       int64
price        int64
dtype: object

There is no missing values

In [61]:
df.isnull().sum()

status       0
seniority    0
home         0
time         0
age          0
marital      0
records      0
job          0
expenses     0
income       0
assets       0
debt         0
amount       0
price        0
dtype: int64

We need to convert few numerical values into strings.

The first is 'status', which has three distinct values 1 = OK, 2 = default. 0 = missing

In [62]:
df['status'].unique()

array([1, 2, 0], dtype=int64)

For this we need to create map functions

In [63]:
status_map = {
    1 : 'ok',
    2 : 'default',
    0 : 'unk'
}

In [64]:
df['status'] = df['status'].map(status_map)

In [65]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,1,60,30,2,1,3,73,129,0,0,800,846
1,ok,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,default,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,ok,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,ok,0,1,36,26,1,1,1,46,107,0,0,310,910

another column we need to convert:
home_values = {
 1: 'rent',
 2: 'owner',
 3: 'private',
 4: 'ignore',
 5: 'parents',
 6: 'other',
 7: 'unk
 }

In [66]:
home_values= {
    1: 'rent',
    2: 'owner',
    3: 'private',
    4: 'ignore',
    5: 'parents',
    6: 'other',
    7: 'unk'
 }

df['home'] = df['home'].map(home_values)

and the other, I am not going to describe, I will simply put them together

In [67]:
marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow',
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}
df['marital'] = df['marital'].map(marital_values)

records_values = {
    1: 'no',
    2: 'yes',
    0: 'unk'
}
df['records'] = df['records'].map(records_values)

job_values = {
    1: 'fixed',
    2: 'parttime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}
df['job'] = df['job'].map(job_values)

In [68]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,rent,60,30,married,no,freelance,73,129,0,0,800,846
1,ok,17,rent,60,58,widow,no,fixed,48,131,0,0,1000,1658
2,default,10,owner,36,46,married,yes,freelance,90,200,3000,0,2000,2985
3,ok,0,rent,60,24,single,no,fixed,63,182,2500,0,900,1325
4,ok,0,rent,36,26,single,no,fixed,46,107,0,0,310,910

In [69]:
df.describe().round()
#we use round to avoid getting scientific notation outputs from the describe() method

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0
mean,8.0,46.0,37.0,56.0,763317.0,1060341.0,404382.0,1039.0,1463.0
std,8.0,15.0,11.0,20.0,8703625.0,10217569.0,6344253.0,475.0,628.0
min,0.0,6.0,18.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,51.0,120.0,3500.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,72.0,166.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,180.0,99999999.0,99999999.0,99999999.0,5000.0,11140.0

as we see in three columns max value is 99999999 which is suspicious, it appears this is how missing values are encoded in the dataset

In [70]:
for c in ['income', 'assets', 'debt']:
    df[c] = df[c].replace(to_replace=99999999, value=np.nan)

In [71]:
#now lets check again
df.describe().round()

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4421.0,4408.0,4437.0,4455.0,4455.0
mean,8.0,46.0,37.0,56.0,131.0,5403.0,343.0,1039.0,1463.0
std,8.0,15.0,11.0,20.0,86.0,11573.0,1246.0,475.0,628.0
min,0.0,6.0,18.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,51.0,120.0,3000.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,72.0,165.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,180.0,959.0,300000.0,30000.0,5000.0,11140.0

In [72]:
df['status'].value_counts()

ok         3200
default    1254
unk           1
Name: status, dtype: int64

so from this we can see, that only one person has 'unk' value which means we don't know if he paid loan back or not. 

so just because it is one, it can be easily removed from the dataset.

So we have created new dataset without missing value.

In [73]:
df = df[df['status'] != 'unk']

In [74]:
from sklearn.model_selection import train_test_split
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=11)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=11)

In [75]:
print(df_train.shape[0], df_val.shape[0], len(df_test))

2672 891 891

In [76]:
#our target values are 
y_train = (df_train['status'] == 'default').values
y_val = (df_val['status'] == 'default').values

In [77]:
del df_train['status'] # exists also another method whihc should be better
del df_val['status'] # exists also another method whihc should be better

Taking care of missing values

In [78]:
df_train = df_train.fillna(0)
df_val = df_val.fillna(0)

In [79]:
dict_train = df_train.to_dict(orient='records')
dict_val = df_val.to_dict(orient='records')

In [80]:
dict_train[0]

{'seniority': 10,
 'home': 'owner',
 'time': 36,
 'age': 36,
 'marital': 'married',
 'records': 'no',
 'job': 'freelance',
 'expenses': 75,
 'income': 0.0,
 'assets': 10000.0,
 'debt': 0.0,
 'amount': 1000,
 'price': 1400}

In [89]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)

X_train = dv.fit_transform(dict_train)
X_val = dv.transform(dict_val)

In [95]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

#dt = DecisionTreeClassifier()
dt = DecisionTreeClassifier(max_depth=2) #< to overcome overitting
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

In [96]:
y_pred = dt.predict_proba(X_train)[:,1]
print(len(y_pred))
print(y_pred)
roc_auc_score(y_train, y_pred)

2672
[0.16986855 0.70260223 0.16986855 ... 0.16986855 0.16986855 0.38071066]

0.7054989859726213

In [97]:
y_pred_val = dt.predict_proba(X_val)[:,1]
len(y_pred_val)
print(len(X_val))
roc_auc_score(y_val, y_pred_val)*100

891

66.85264343319368

In [98]:
from sklearn.tree import export_text 
tree_text = export_text(dt, feature_names=dv.feature_names_) 
print(tree_text)

|--- records=yes <= 0.50
|   |--- job=parttime <= 0.50
|   |   |--- class: False
|   |--- job=parttime >  0.50
|   |   |--- class: True
|--- records=yes >  0.50
|   |--- seniority <= 6.50
|   |   |--- class: True
|   |--- seniority >  6.50
|   |   |--- class: False

In [99]:
for depth in [1, 2, 3, 4, 5, 6, 10, 15, 20, None]:
    dt = DecisionTreeClassifier(max_depth=depth)
    dt.fit(X_train, y_train)
    y_pred = dt.predict_proba(X_val)[:,1]
    auc = roc_auc_score(y_val, y_pred)
    print('%4s -> %.3f' % (depth, auc))

   1 -> 0.606
   2 -> 0.669
   3 -> 0.739
   4 -> 0.761
   5 -> 0.766
   6 -> 0.758
  10 -> 0.692
  15 -> 0.674
  20 -> 0.652
None -> 0.670

In [104]:
for m in [4, 5, 6]:
    print('depth: %s' %m)
    
    for s in [1, 5, 10, 15, 20, 50, 100, 200]:
        dt = DecisionTreeClassifier(min_samples_leaf=s, max_depth=m)
        dt.fit(X_train, y_train)
        y_pred = dt.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)
        print('%s -> %.3f' % (s, auc))

depth: 4
1 -> 0.761
5 -> 0.761
10 -> 0.761
15 -> 0.764
20 -> 0.761
50 -> 0.753
100 -> 0.756
200 -> 0.747
depth: 5
1 -> 0.767
5 -> 0.768
10 -> 0.762
15 -> 0.772
20 -> 0.774
50 -> 0.767
100 -> 0.763
200 -> 0.759
depth: 6
1 -> 0.744
5 -> 0.759
10 -> 0.778
15 -> 0.785
20 -> 0.774
50 -> 0.770
100 -> 0.776
200 -> 0.768